@font-face {
    font-family: 'Gotham';
    src: url("fonts/gothaproreg-webfont.eot");
    src: url("fonts/gothaproreg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothaproreg-webfont.woff2") format("woff2"), url("fonts/gothaproreg-webfont.woff") format("woff"), url("fonts/gothaproreg-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family:'Gotham';
    src: url("fonts/gothaproita-webfont.eot");
    src: url("fonts/gothaproita-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothaproita-webfont.woff2") format("woff2"), url("fonts/gothaproita-webfont.woff") format("woff"), url("fonts/gothaproita-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family:'Gotham';
    src: url("fonts/gothaproxlig-webfont.eot");
    src: url("fonts/gothaproxlig-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothaproxlig-webfont.woff") format("woff"), url("fonts/gothaproxlig-webfont.ttf") format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family:'Gotham';
    src: url("fonts/gothaprolig-webfont.eot");
    src: url("fonts/gothaprolig-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothaprolig-webfont.woff2") format("woff2"), url("fonts/gothaprolig-webfont.woff") format("woff"), url("fonts/gothaprolig-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family:'Gotham';
    src: url("fonts/gothaprobol-webfont.eot");
    src: url("fonts/gothaprobol-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothaprobol-webfont.woff2") format("woff2"), url("fonts/gothaprobol-webfont.woff") format("woff"), url("fonts/gothaprobol-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family:'Gotham';
    src: url("fonts/gothapromed-webfont.eot");
    src: url("fonts/gothapromed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothapromed-webfont.woff2") format("woff2"), url("fonts/gothapromed-webfont.woff") format("woff"), url("fonts/gothapromed-webfont.ttf") format("truetype");
    font-weight: 500;
    font-style:normal
}

body {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    position: relative;
    font-weight: 300;
    overflow-x: hidden;
}

.logos img {
    display: inline-block;
    vertical-align: middle;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
