/* Return-to-top arrow */

    #return-to-top {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        bottom: 20px;
        display: none;
        height: 50px;
        position: fixed;
        right: 20px;
        text-decoration: none;
        width: 50px;
        @include vendor('transition', 'all #{_duration(transition)} ease');

        span {
            color: #fff;
            margin: 0;
            position: relative;
            top: 8px;
            left: 16px;
            font-size: 19px;
            @include vendor('transition', 'all #{_duration(transition)} ease');
        }

        &:hover {
            background: rgba(0, 0, 0, 0.9);
            span {
                color: #fff;
                top: 0;
            }
        }
    }